
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}
p,
a,
h1,
h2,
h3 {
	font-family: "Lato";
}

body {
	background-color: white;
	height: 5000px;
}

.page-width {
	max-width: 1920px;
	margin: auto;
}

/* 		TOP MENU 	||  */
.top-menu {
	height: 200px;
	width: 60vw;
	margin: auto;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	z-index: 2;
}


.top-menu__search {
	position: fixed;
	height: 45px;
	width: 44%;
	background-color: white;
	box-shadow: 0px 3px 10px 0.5px #CCC;
	border-radius: 50px;
	margin-top: 70px;
	margin-left: 10px;
	z-index: 2;
	transition: 0.5s;
}

.top-menu__search--collapsed {
	width: 45px !important;
	margin-left: 42%;
	transition: 0.5s;
}

.top-menu__search:hover {
	margin-top: 69px;
	box-shadow: 0px 6px 10px 0.1px #Ccc;
	transition: 0.1s;
}

.search__icon {
	height: 15px;
	width: 15px;
	margin-top: 15px;
	margin-left: 25px;
}

.search__icon--collapsed {
	margin-left: 15px !important;
}

.search__input {
	outline: none;
	border: none;
	width: 90%;
	height: 30px;
	margin-left: 10px;
	font-size: 17px;
}


.top-menu__buttons {
	height: 45px;
	width: 15%;
	box-shadow: 0px 3px 10px 0.1px #CCC;
	background-color: white;
	border-radius: 50px;
	margin: auto;
	margin-left: 46%;
	margin-top: 70px;
	padding-top: 12px;
	position: fixed;
}

.top-menu__buttons:hover {
	margin-top: 69px;
	box-shadow: 0px 6px 10px 0.1px #Ccc;
	transition: 0.1s;
}

.top-menu__buttons a {
	text-decoration: none;
	font-size: 1vw;
	color: black;
	margin-left: 17%;
	margin-top: 40px;
}

.top-menu__buttons a:hover {
	font-weight: bold;
}



/* 		TITLE 	 ||  */
.background {
	background-color: #EDEDED;
	width: auto;
	height: auto;
	margin: auto;
}

#background__title {
	width: 30vw;
	height: auto;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	margin-top: 40px;
}

.background h1 {
	width: 25vw;
	margin: auto;
	margin-top: 30px;
	font-weight: 600;
	font-size: 25px;
	text-align: center;
}

.background h2 {
	width: 28vw;
	text-align: justify;
	font-weight: normal;
	font-size: 20px;
	margin: auto;
	margin-top: 40px;
}

.author {
	font-size: 22px !important;
	margin-left: 45vw !important;
	padding-bottom: 50px;
}

