
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}
p,
a,
h1,
h2,
h3 {
	font-family: "Lato";
}

body {
	background-color: white;
}

.page-width {
	max-width: 1920px;
	margin: auto;
	overflow: hidden;
}

/* 		TOP MENU 	||  */
.top-menu {
	height: 200px;
	width: 74vw;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	z-index: 69;
	position: absolute;
	left: 15vw;
}


.top-menu__search {
	position: fixed;
	height: 45px;
	width: 40%;
	background-color: white;
	border-radius: 50px;
	margin-top: 70px;
	margin-left: 10px;
	z-index: 20;
	transition: 0.5s;
	  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
	                0 2px 2px rgba(0,0,0,0.11), 
					              0 4px 4px rgba(0,0,0,0.11), 
								                0 6px 8px rgba(0,0,0,0.11),
												              0 8px 16px rgba(0,0,0,0.11);

}

.top-menu__search--collapsed {
	width: 45px !important;
	margin-left: 10px;
	transition: 0.5s;
}

.top-menu__search:hover {
	margin-top: 69px;
	transition: 0.1s;
	box-shadow:
	  1.8px 1.8px 2.2px rgba(0, 0, 0, 0.052),
	    4.3px 4.4px 5.3px rgba(0, 0, 0, 0.067),
		  8px 8.3px 10px rgba(0, 0, 0, 0.073),
		    14.3px 14.7px 17.9px rgba(0, 0, 0, 0.075),
			  26.7px 27.6px 33.4px rgba(0, 0, 0, 0.073),
			    64px 66px 80px rgba(0, 0, 0, 0.07)
				;
}

.search__icon {
	height: 15px;
	width: 15px;
	margin-top: 15px;
	margin-left: 25px;
	transition: 0.5s;
}

.search__icon--collapsed {
	margin-left: 15px !important;
	transition: 0.5s;
}

.search__input {
	outline: none;
	border: none;
	width: 80%;
	height: 30px;
	margin-left: 10px;
	font-size: 17px;
}


.top-menu__buttons {
	height: 45px;
	width: 15%;
	margin: auto;
	margin-left: 44%;
	margin-top: 70px;
	margin-right: 10px;
	padding-top: 12px;
	position: fixed;
	z-index: 20;
	transition: 0.1s; 
	background-color: white;
	border-radius: 30px;
	  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
	                0 2px 2px rgba(0,0,0,0.11), 
					              0 4px 4px rgba(0,0,0,0.11), 
								                0 6px 8px rgba(0,0,0,0.11),
												              0 8px 16px rgba(0,0,0,0.11);

}

.top-menu__buttons a {
	text-decoration: none;
	font-size: 1vw;
	color: black;
	margin-left: 17%;
	margin-top: 40px;
}

.top-menu__buttons a:hover {
	font-weight: bold;
}

.top-menu__buttons--collapsed {
	background-color: white;
	border-radius: 30px;
	width: 8%;
	margin-left: 4%; 
	transition: 0.5s; 
	padding-left: 1%;
	  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
	                0 2px 2px rgba(0,0,0,0.11), 
					              0 4px 4px rgba(0,0,0,0.11), 
								                0 6px 8px rgba(0,0,0,0.11),
												              0 8px 16px rgba(0,0,0,0.11);
}


.top-menu__submit {
	width: 12%;
	height: 45px;
	background-color: white;
	border-radius: 50px;
	margin: auto;
	margin-top: 70px;
	margin-right: 70px;
	padding-top: 12px;
	overflow: hidden;
	background-image: url("../img/main.jpg");
	  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
	                0 2px 2px rgba(0,0,0,0.11), 
					              0 4px 4px rgba(0,0,0,0.11), 
								                0 6px 8px rgba(0,0,0,0.11),
												              0 8px 16px rgba(0,0,0,0.11);

}

.top-menu__submit:hover {
	margin-top: 69px;
	transition: 0.1s;
	box-shadow:
	  1.8px 1.8px 2.2px rgba(0, 0, 0, 0.052),
	    4.3px 4.4px 5.3px rgba(0, 0, 0, 0.067),
		  8px 8.3px 10px rgba(0, 0, 0, 0.073),
		    14.3px 14.7px 17.9px rgba(0, 0, 0, 0.075),
			  26.7px 27.6px 33.4px rgba(0, 0, 0, 0.073),
			    64px 66px 80px rgba(0, 0, 0, 0.07)
				;
}

#buttons_submit {
	text-decoration: none;
	font-size: 1vw;
	color: white;
	font-weight: 600;
	margin-left: 28%;
	margin-top: 40px;
}



/* 		TITLE 	 ||  */


#background-div {
	position: absolute;
	width: 100%;
	margin: auto;
	z-index: 3;
	text-shadow:  5px 5px 10px black;
}

#background {
	z-index: 1;
	object-fit: cover;
	width: 100%;
	height: 100vh;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
	            0 2px 2px rgba(0,0,0,0.11), 
					    0 4px 4px rgba(0,0,0,0.11), 
							0 6px 8px rgba(0,0,0,0.11),
							0 8px 16px rgba(0,0,0,0.11);
}


#background-second {
	display: none;
	position: absolute;
	top: 0px;
	z-index: 2;
	width: 100%;
	height: 100vh;
	object-fit: cover;
}
#background__title {
	width: 35vw;
	font-size: 6vw;
	font-weight: 1000;
	color: white;
	opacity: 85%;
	height: auto;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	margin-top: 45vh;
	z-index: 3;
}

#subtitle {
	width: 25vw;
	margin: auto;
	margin-top: 15vh;
	font-weight: 600;
	font-size: 25px;
	text-align: center;
}

#background-div h2 {
	width: 28vw;
	text-align: justify;
	font-weight: normal;
	font-size: 20px;
	margin: auto;
	margin-top: 40px;
}

.author {
	font-size: 22px !important;
	margin-left: 45vw !important;
	padding-bottom: 50px;
}




/* 		MAIN PRESENTATION 	|| 	*/

.max-width{
	width: 100vw;
	max-width: 1920px;
	height: auto;
	position: relative;
}


#main-presentation {
	position: absolute;
	width: 80%;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	z-index: 2;
	top: 0;
	margin-top: 10%;
	transition: 0.5s;
	border-radius: 5px;
}

#second-presentation {
	position: relative;
	width: 80%;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	margin-top: 10%;
	z-index: 1;
	border-radius: 5px;
}

.main-presentation__buttons {
	position: relative;
	top: 52%;
	display: flex;
	flex-direction: row;
	width: 370px;
	height: 60px;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	z-index: 5;
}

#main__citeste,
#main__comanda {
	position: relative;
	z-index: 3;
	height: 45px;
	width: 150px;
	background-color: white;
	border-radius: 50px;
	padding-top: 12px;
	transition: 0.1s; 
	margin: auto;
	margin-top: -22px;
	transition: 0.1s;
	  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
	                0 2px 2px rgba(0,0,0,0.11), 
					              0 4px 4px rgba(0,0,0,0.11), 
								                0 6px 8px rgba(0,0,0,0.11),
												              0 8px 16px rgba(0,0,0,0.11);
}


#main__citeste a,
#main__comanda a {
	text-decoration: none;
	font-size: 1vw;
}

#main__citeste a {
	color: black;
	margin-left: 30%;
}

#main__comanda {
	background-image: url("../img/main.jpg");
}

#main__comanda a {
	color: white;
	font-weight: 600;
	margin-left: 25%;
}

#main__citeste:hover,
#main__comanda:hover {
	margin-top: -24px;
	transition: 0.1s;
	box-shadow: 1.8px 1.8px 2.2px rgba(0, 0, 0, 0.052),
	    		4.3px 4.4px 5.3px rgba(0, 0, 0, 0.067),
		  		8px 8.3px 10px rgba(0, 0, 0, 0.073),
		    	14.3px 14.7px 17.9px rgba(0, 0, 0, 0.075),
			  	26.7px 27.6px 33.4px rgba(0, 0, 0, 0.073),
			    64px 66px 80px rgba(0, 0, 0, 0.07);
}


/*		MAIN TEXT		||		*/

.main__text {
	width: 1000px;
	margin: auto;
	margin-top: 100px;
}

.text__title {
	width: 180px;
	margin: auto;
	font-size: 22px;
	font-weight: 600;
	color: black;
}

.text__split {
	display: flex;
	flex-direction: row;
	margin-top: 70px;
}

.split__column {
	width: 400px;
	margin: auto;
	margin-top: 0px;
	text-align: justify;
	display: flex;
	flex-direction: column;
}

.text__author {
	width: 100%;
	font-weight: 600;
	text-align: right;
	margin-top: 50px;
}


/*		OLDER MAGAZINES		||		*/

.older__wrapper {
	height: auto;
	width: 100%;
	margin: auto;
	position: relative;
}

.wrapper__overflow {
	width: 80%;
	height: 700px;
	display: flex;
	flex-direction: row;
	margin-left: 50%;
	transform: translate(-50%, 0%);
	margin-top: 250px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.wrapper__overflow::-webkit-scrollbar {
	display: none;
}

.older__img {
	height: 500px;	
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
	            0 2px 2px rgba(0,0,0,0.11), 
				0 4px 4px rgba(0,0,0,0.11), 
				0 6px 8px rgba(0,0,0,0.11),
				0 8px 16px rgba(0,0,0,0.11);
	border-radius: 5px;
	transition: 0.5s;
}

.older__img:hover {
	box-shadow: 1.8px 1.8px 2.2px rgba(0, 0, 0, 0.052),
	    		4.3px 4.4px 5.3px rgba(0, 0, 0, 0.067),
		  		8px 8.3px 10px rgba(0, 0, 0, 0.073),
		    	14.3px 14.7px 17.9px rgba(0, 0, 0, 0.075),
			  	26.7px 27.6px 33.4px rgba(0, 0, 0, 0.073),
			    64px 66px 80px rgba(0, 0, 0, 0.07);
	transition: 0.5s;
}

.older__magazine:hover {
	margin-top: 5px;
	transition: 0.5s;
}

.older__magazine {
	height: 500px;
	margin-left: 50px;
	margin-top: 10px;
	transition: 0.5s;
}

.older__img--first {
	margin-left: 0px;
}

.wrapper__click-catch--left {
	position: absolute;
	height: 700px;
	width: 20%;
	margin-top: -100px;
	z-index: 50;
	cursor: url("../img/left-arrow.png"), auto;
}


.wrapper__click-catch--right {
	position: absolute;
	height: 700px;
	width: 20%;
	margin-left: 85%;
	top: 0;
	margin-top: -100px;
	z-index: 50;
	cursor: url("../img/right-arrow.png"), auto;
}


/*		NEWS		*/

.news {
	width: 850px;
	margin: auto;
}

.news__title {
	font-size: 22px;
	font-weight: 600;
	color: black;
	width: 100px;
	margin: auto;
	margin-bottom: 100px;
}

.news-entries {
	margin-top: 50px;
}

.news-entry {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	font-size: 18px;
}

.news-entry__date {
	font-weight: bold;
	width: 150px;
}

.news-entry__text {
	width: 700px;
}



/*		NEWSLETTER		*/

.newsletter {
	width: 350px;
	margin: auto;
	margin-top: 20vh; 
}


.newsletter__title {
	margin-bottom: 50px;
}

#newsletter-input {
	width: 350px;
	height: 35px;
	border-radius: 50px;
	padding: 10px 30px 10px 50px;
	font-size: 18px;
	background-color: white;
	outline: none;
	border: none;
	transition: 0.2s;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
	            0 2px 2px rgba(0,0,0,0.11), 
				0 4px 4px rgba(0,0,0,0.11), 
				0 6px 8px rgba(0,0,0,0.11),
				0 8px 16px rgba(0,0,0,0.11);
}

#newsletter-input:hover {
	transition: 0.2s;
	box-shadow: 1.8px 1.8px 2.2px rgba(0, 0, 0, 0.052),
	    		4.3px 4.4px 5.3px rgba(0, 0, 0, 0.067),
		  		8px 8.3px 10px rgba(0, 0, 0, 0.073),
		    	14.3px 14.7px 17.9px rgba(0, 0, 0, 0.075),
			  	26.7px 27.6px 33.4px rgba(0, 0, 0, 0.073),
			    64px 66px 80px rgba(0, 0, 0, 0.07);
}




/*		FOOTER		*/

.footer {
	width: 80%;
	display: flex;
	flex-direction: row;
	position: relative;
	margin: auto;
	margin-top: 30vh;
	margin-bottom: 5vh;
}

.footer-left {
	display: flex;
	flex-direction: row;
	font-size: 15px;
}

.footer-left div {
	margin-top: 50px; 
	margin-left: 10px;
}

.footer-left div p:first-child {
	font-size: 18px; 
	font-weight: bold;
	color: #333;
	margin-bottom: 20px;
}

.footer-right {
	position: absolute;
	right: 0;
	bottom: 2vw;
}

.footer-right img {
	margin-bottom: 20px;
}

.footer-right p {
	margin-left: 30px;
	font-size: 15px;
	font-weight: bold;
	color: #333
}

.school-logo {
	width: 300px;
}

.logo {
	width: 400px;
}
